.footer-section{
    margin-top: 8%;
} 

.footer-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-bottom-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer{
    background-image:url("./assets/images/footerBackground.svg");

}


.footer .footer-top .h2{
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 55px;
text-align: center;
color: #1B1C23;
}

.footer .footer-top span{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 30px;
text-align: center;
color: #757683;
}

.footer .footer-bottom .footer-bottom-left a{
    color: #757683;
}

.footer .footer-bottom .footer-bottom-left a:hover{
    color: orange;
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
}

.footer .footer-bottom .footer-bottom-right .gmail-icon{
   margin-right: 10px;    
}


.footer .footer-bottom .footer-bottom-right a{
    cursor: pointer;
    color: #757683;
}
.footer .footer-bottom .footer-bottom-right a:hover{
   cursor: pointer;
   color: orange;
}


@media(max-width:790px){
    .footer .footer-bottom-right{
        overflow-x: hidden;
        text-align: center;
       margin-left: 50px;
    }
   
    .footer .footer-bottom-left{
        margin-left: -20px;
    }
    

   .footer-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }

}